{
  
  "presets": [
    "env",
    "es2015",
    "react"
  ],
  
  "plugins": [
    [
      "emotion",
      {
        "extractStatic": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
  
}
